<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<add key="public-nuget" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="extense-nuget" value="https://proget-repository.extense.io/nuget/extense-nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<extense-nuget>
			<add key="Username" value="%PROGET_EXTENSE_LOGIN%" />
			<add key="ClearTextPassword" value="%PROGET_EXTENSE_PASSWORD%" />
		</extense-nuget>
	</packageSourceCredentials>
</configuration>