@using Extense.Portal.Web.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model Extense.Portal.Web.ViewModels.Home.HomeViewModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewBag.Title = Model.Title;
}

<link rel="stylesheet" href="~/css/default.min.css"/>

<h1 class="title">@Model.Title</h1>

<span>@SharedLocalizer[SharedResource.Introduction]</span>

<div class="date">
    <span>Current date is</span> <span>@Model.Date</span>
</div>

<img class="logo" src="../img/extense-logo.png" alt="Extense Logo">